@model WebMusic.Models.Genero

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<link rel="stylesheet" type="text/css"
href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
<link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
<link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">
<br />

<div>
    <h4>Género</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.des_genero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.des_genero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BandasNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BandasNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AddBanda" asp-route-id="@Model.Id" class="btn btn-primary">
    <i class="fas fa-plus"></i>Banda</a> 

    <a asp-action="Index" class="btn btn-success">Volver a la lista</a>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Bandas</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Bandas.FirstOrDefault().nombre)
                            </th>
                             <th>
                                @Html.DisplayNameFor(model => model.Bandas.FirstOrDefault().origen)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Bandas.FirstOrDefault().AlbumsNumber)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Bandas)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.origen)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AlbumsNumber)
                                </td>
                                <td>
                                    <a asp-action="EditBanda" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                    <a asp-action="DetailsBanda" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-align-justify"></i></a>
                                  <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="fas fa-trash"></i></button>  
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
            // Delete item
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/generoes/DeleteBanda/', false);
        });
    </script>
}