@model WebMusic.Models.Album
@{
    ViewData["Title"] = "Detalles";
}
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
<link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
<link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">

<style type="text/css">
    .row{
        background-color: rgb(0 0 0 / 78%);
    }
    .table {
        color: white;
    }
    .table-hover tbody tr:hover {
        color: #ff0000;
        background-color: rgba(255 0 0 / 10%);
    }
    label, button, input, optgroup, select, textarea, h3 {
        color: white;
        text-align: center;
    }
    dt {
        color: red;
    }
    table.dataTable tbody tr {
        background-color: #ffffff00;
    }
    table.dataTable td {
        vertical-align: middle;
    }
    ::-webkit-scrollbar{background-color: #000000;width: 8px}
    ::-webkit-scrollbar-thumb {background: #ff000054;width: 12px;border-radius: 10px;}
    ::-webkit-scrollbar-thumb:hover {background: #ff0000a8;width: 18px;}
    ::-webkit-scrollbar-track{background-color: transparent;width: 12px;}
</style>

<br />
<br />
<br />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Canciones</h3>
            </div>
            <div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre) :     @Html.DisplayFor(model => model.nombre)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.anio) :     @Html.DisplayFor(model => model.anio)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.CancionsNumber) :     @Html.DisplayFor(model => model.CancionsNumber)
        </dt>
    </dl>
</div>
            <div class="panel-body">
                <table class="table table-hover table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Cancions.FirstOrDefault().Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cancions.FirstOrDefault().Link)
                            </th>
                                <th>
                                @Html.DisplayNameFor(model => model.Cancions.FirstOrDefault().Duracion)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Cancions)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#RepoductorVideo" data-id="@Html.DisplayFor(modelItem => item.Link)"> @Html.DisplayFor(modelItem => item.Link) </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Duracion) minutos
                                </td>
                                <td align="right">
                                    <a asp-action="EditCancion" asp-route-id="@item.Id" class="btn btn-warning">
                                        <i class="fas fa-edit"></i></a>
                                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">
                                        <i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr />
<div>
    <a asp-action="AddCancion" asp-route-id="@Model.Id" class="btn btn-primary">
        <i class="fas fa-plus"></i> Canción
    </a>
    <a asp-action="DetailsBanda" asp-route-id="@Model.IdBanda" class="btn btn-success">Volver a la lista</a>
</div>

<partial name="_DeleteDialog" />
<partial name="_ReproductorVideo" />
@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="/js/deleteDialog.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#MyTable').DataTable();
        // Delete item
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete','/Generoes/DeleteCancion/', false);
    });


    $(document).ready(function (e) {
        $('#RepoductorVideo').on('show.bs.modal', function(e) {    
			var link = $(e.relatedTarget).data().id;
            link = link.slice(24)
            link = "https://www.youtube.com/embed/"+link
            document.getElementById("ventanaYoutube").src = link;
		});
    });
</script>
}
