@model IEnumerable<WebMusic.Models.Genero>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
<link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
<link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i>Agregar Nuevo</a>
</p>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Géneros Musicales</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.des_genero)
                            </th>
                            <th>
 	                            @Html.DisplayNameFor(model => model.BandasNumber)
 	                        </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.des_genero)
                                </td>
                                <td>
 	                                @Html.DisplayFor(modelItem => item.BandasNumber)
 	                            </td>

                                <td align="right">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-align-justify"></i></a>
                                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script src="/js/deleteDialog.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#MyTable').DataTable();
        // Delete item
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Generoes/Delete/', false);
    });
</script>
}